
mixin badge(url)
  img(src='https://img.shields.io/' + url.replace(/^\//, '') + '.svg?style=' + badge_style)

mixin badge-npm(name)
  a(href='https://www.npmjs.org/package/' + name)
    +badge('/npm/v/' + name)

mixin badge-version(version)
  //- probably want different colors for different versions
  a(href='http://nodejs.org/download/')
    if ((version_cmp = Number(version.toString().split('.').slice(0, 2).map(function (n) { return (n < 10 ? '0' : '') + n }).join('.'))))
      +badge('/badge/node.js->=_' + version + '-' +
        (version_cmp >= 5.0 ? 'orange' : version_cmp >= 4.0 ? 'green' : 'brightgreen'))
    else
      +badge('/badge/node.js-N%2FA-lightgrey')

mixin badge-david(repo)
  a(href='https://david-dm.org/' + repo)
    +badge('/david/' + repo)

mixin badge-travis(repo)
  a(href='https://travis-ci.org/' + repo)
    +badge('/travis/' + repo)

mixin badge-coverage(repo)
  a(href='https://coveralls.io/r/' + repo)
    +badge('/coveralls/' + repo)

mixin badge-downloads(npm)
  a(href='https://npmjs.org/package/' + npm)
    +badge('/npm/dm/' + npm)
