
include badges

mixin avatar(emailmd5, size)
  img(src='https://secure.gravatar.com/avatar/' + emailmd5 + '?s=' + size + '&d=retro', width=size, height=size, style='vertical-align:middle')

mixin maintainers(maintainers)
  table.table.table-striped
    tbody
      for maintainer in maintainers
        +maintainer-row(maintainer)

mixin maintainer-row(maintainer)
  tr
    td
      +avatar(maintainer.avatar, 20)
    td
      a(href='https://github.com/' + maintainer.github)= maintainer.name
    td
      if maintainer.twitter
        a(href='https://twitter.com/' + maintainer.twitter)= '@' + maintainer.twitter
    td
      a(href='https://www.npmjs.org/~' + maintainer.npm)
        +badge('/badge/packages/' + Number(maintainer.packages) + '/blue')
