
include badges

mixin projects(projects)
  table.table.sortable.table-striped.projects-table
    thead
      tr
        th.sorttable_sorted
          | Project
          //- marker means "sorted by default"; should be in .js, but I'm lazy
          span#sorttable_sortfwdind &nbsp;&#x25BE;
        th Maintainer
        th.sorttable_nosort.empty(colspan='6')
    tbody
      for project in projects
        +project-row(project)

mixin project-row(project)
  tr
    td: +project(project)
    td: +maintainer(project.maintainer)
    td: +badge-npm(project.npm)
    td: +badge-version(project.node)
    td: +badge-packagephobia(project.npm)
    td: +badge-travis(project.repo)
    td: +badge-coverage(project.repo)
    td: +badge-david(project.repo)
    td: +badge-downloads(project.npm)

mixin project(project)
  a(title=project.description, href='https://github.com/' + project.repo)= project.name

mixin maintainer(person)
  if typeof(person) === 'object' && person != null
    a(href='https://github.com/' + person.github)= person.name
