
section > h1 {
  padding-left: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  border-top: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 12px;
}

.table-wrap {
  overflow-x: auto;
}

.table {
  margin-bottom: 0;
}

.table td {
  white-space: nowrap;
}

.table > tbody > tr > td:first-child,
.table > thead > tr > th:first-child {
  padding-left: 20px;
}

.table > tbody > tr > td:last-child,
.table > thead > tr > th:last-child {
  padding-right: 20px;
  width: 100%;
}

table.sortable > thead > tr > th {
  cursor: pointer;
}
table.sortable > thead > tr > th:hover {
  color: #2a6496;
}

table.sortable > thead > tr > th.empty {
  cursor: default;
}

.navbar.navbar {
  border-radius: 0;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(#fafafa, #f0f0f0);
  background-image: -webkit-linear-gradient(#fafafa, #f0f0f0);
  background-image: linear-gradient(#fafafa, #f0f0f0);
  background-repeat: repeat-x;
  border-bottom: 1px solid #ddd;
}

.manifesto {
  padding: 25px 0px 15px;
  font-size: 14px;
}

.navbar-header {
  width: 100%;
}

.navbar {
  min-height: 40px;
}

.navbar-brand {
  height: 40px;
  padding: 10px;
}

a.navbar-brand {
  color: #333;
}

a.navbar-brand:hover, a.navbar-brand:focus {
  color: #2a6496;
}

@media (max-width: 480px) {
  .manifesto {
    clear: left;
    height: auto;
    padding: 7px 0;
    padding-left: 20px;
  }
}

@media (min-width: 481px) {
  .manifesto span:before {
    content: "\2014";
    padding-right: 10px;
  }

  .manifesto {
    padding-left: 0;
  }
}
