.table > tbody > tr > td:first-child, .table > thead > tr > th:first-child {
  padding-left: 2em;
}
.table > tbody > tr > td:last-child, .table > thead > tr > th:last-child {
  padding-right: 2em;
}
.navbar.navbar {
  border-radius: 0;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(#fafafa, #f0f0f0);
  background-image: -webkit-linear-gradient(#fafafa, #f0f0f0);
  background-image: linear-gradient(#fafafa, #f0f0f0);
  background-repeat: repeat-x;
  border-bottom: 1px solid #ddd;
}
.navbar-brand.logo {
  padding: 7px;
  padding-left: 1em;
}

